<% layout('./layouts/main') -%>
<article class="content dashboard-page">
<section class="section d-none" id="dashboardPage" v-bind:class="{ 'd-block': !isLoading }">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title-block">
              <h3 class="title"> Smart Nodes </h3>
            </div>
            <section class="example">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Address</th>
                      <th>Label</th>
                      <th>Sent</th>
                      <th>Received</th>
                      <th>Balance</th>
                    </tr>
                  </thead>
                  <tbody v-for="node in smartNodes">
                    <tr>
                      <td>{{node._id}}</td>
                      <td>{{node.address}}</td>
                      <td>{{node.label}}</td>
                      <td>{{node.content.sent}}</td>
                      <td>{{node.content.received}}</td>
                      <td>{{node.content.balance}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  </article>


<% block('javascript').append(`
  <script>
    (function(Vue, nodar) {

      nodar.api.on('authenticated', () => {

        // Before we run anything, ensure the user is
        // authenticated with the API, otherwise they
        // will be kicked to /login. This returns an
        // instance of the feathers client to talk to the
        // feathers api

        const component = new Vue({
          el: "#dashboardPage",
          data: {
            isLoading: true,
            smartNodes: [],
          },
          mounted: function() {
            this.getSmartNodes();
          },
          methods: {
            getSmartNodes: function() {
              nodar.api.service('smart-nodes').find()
                .then(results => {
                  this.smartNodes = results.data;
                  this.isLoading = false;
                })
                .catch(err => console.log(err));
            }
          }
        });

      });

    }(Vue, window.nodar));
  </script>
`) %>